.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Rubik';
}

.headerTitle {
    padding: 20px;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #323a44;
}

.header select {
    cursor: pointer;
    background-color: #000;
    color: white;
    padding: 8px;
    border-radius: 2px;
    width: 110px;
    border: none;
    font-size: 16px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    -webkit-appearance: button;
    appearance: button;
    outline: none;
  }
  
  .header select option {
    padding: 30px;
    cursor: pointer
  }
